################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenHardwareMonitor/v14
/Bin/Debug
/obj/Debug
